<p style="color: green"><%= notice %></p>

<% content_for :title, "Current weathers" %>

<div class="flex flex-col ">

<div class="card border border-solid text-white">
  <div id="current-weather" class="m-0 p-0 border-0 align-baseline block bg-zinc-600 " >

    <div id="weather-header" class="pt-5 pl-5 pr-5 pb-2.5 border-0 m-0 block" >
      <div class="flex flex-row justify-between items-center" >
        <div id="weather-current-status" >
          <h1 class="text-2xl font-bold" >
            <%= @current_weather.weather_main %>
          </h1>
        </div>
        <div>
          <%= link_to "C°", "", class: "underline" %> <%= link_to "F°", "", class: "text-gray-400 " %>
        </div>
      </div>
      <div id="weather-location" class="w-full text-sm " >
        <% if @current_weather.name %>
          <%= @current_weather.name %>
        <% else %>
          Lat: <%= @current_weather.latitude %>, Long: <%= @current_weather.longitude %>
        <% end %>
        <p>
          <%= @current_weather.country %>
        </p>
      </div>
    </div>
    
    <div id="hourly-weather" class="pt-0 pr-5 pb-2.5 pl-5 block" >
      <div class="flex justify-between w-full -mb-1 " >
        <div class="-ml-1 text-center block ">
          <div class="text-sm pt-0 ">4 PM</div>
          <div class="w-8 h-8 mt-1 mr-0 mb-0 ml-0 align-top ">Icon</div>
          <div class=" min-h-5 text-sm text-blue-400 ">
            <div class="mr-1 w-2.5 h-2.5 max-w-full text-center ">Icon</div>
            <span class=" m-0 p-0 border-0 align-baseline text-center " >10%<span>
          </div>
          <div class="font-semibold text-4xl relative left-1 block">25°</div>
        </div>
      </div>
      <div class=" flex w-full items-center mt-1 font-normal text-sm m-0 p-0 border-0 align-baseline " >
        <span class="mr-3 align-baseline" >Humidity: <strong>48</strong>%</span>
        <span class="mr-3 align-baseline" >Wind: <strong>3 MPH S</strong></span>
      </div>
    </div>
    
    
  </div>
</div>

<div class="text-white" >
  <%= @current_weather.inspect %>
</div>
